$widthMain: 400px;

$color1: #01161E;
$color1_1: #4950539c;
$color1_2: #2d313349;
$color2: #EC368D;
$color3: #3626A7;
$color4: #F5F749;
$color4_1: #f4f74971;
$color5: #FCFCFF;
$color5_1: #fcfcff96;

$colorText: black;

$widthNotes: 400px;
$maxHeightNotes: 400px;
